<div class="card">
    <%- include('./msg') %>
    <div class="center">
            <div class="title">
                <h1>Alterar <%= data %></h1>
                <a href="/user/connectd">
                    <img src="/img/close.svg" alt="Fechar" title="Fechar" width="30px" height="30px">
                </a>
            </div>
            <form action="/user/connected/alter/<%= data %>" method="post" class="conteudo">
            <% if(data != "password") { %>
                <input type="<%= data == 'email' ? 'email' : 'text' %>" name="<%= data %>" placeholder="Novo <%= data %>" required>
                <input type="password" name="password" placeholder="Confirme a senha" required>
            <% } else { %>
                <input type="password" name="password" placeholder="Senha atual" required>
                <input type="password" name="newpassword" placeholder="Nova senha" required>
                <input type="password" name="newpassword2" placeholder="Confirme a nova senha" required>
            <% } %>
                <button type="submit">Alterar</button>
            </form>
        </div>
</div>